form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 15px 0px 0px;
    background-color: red;
    color: white;
}
.salvar{
    background-color: rgb(25, 160, 25);
    color: white;
}